* {
    margin: 0;
    padding: 0;
}

#buttons {
  display: flex;
  gap: 50px;
  margin: 32px;
}

#rock,
#paper,
#scissors,
#reset {
  font-size: 24px;
  border-radius: 12px;
  background-color: #eb9c5c;
  color: #3b3c36;
  font-weight: 700;
  padding: 6px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-image: url("./images/paper-rock-scissors.jpg");
  color: #996888;
  font-weight: bold;
  min-height: 100vh;
}
